a {
  box-shadow: 0 1px 0 0 $green;
  color: $green;
}

a:hover {
  box-shadow: none;
  color: $mediumgray;
}

a,
a:hover,
a:visited,
a:active,
nav a,
nav a:hover,
nav a:visited,
nav a:active {
  text-decoration: none;
}