$fontfamily: 'Open Sans', sans-serif;
$fontweight: 300;

$green: #008234;
$medgreen: #1f8f4a;
$white: #fff;
$black: #000;
$lightgray: #d1d1d1;
$verylightgray: #eee;
$verydarkgray: #1a1a1a;
$mediumgray: #686868;
$transparentgreen: rgba(0,130,52,0.7);
$transparentgray: rgba(80, 80, 80, 0.9);


/* TYPOGRAPHY */

body {
  font-family: $fontfamily;
  font-weight: $fontweight;
  position: relative;
}

p {
  font-size: 1.125em;
  line-height: 1.6em;
}

h1,
.email-big {
  font-size: 5vw;
  text-transform: uppercase;
}

.email-big {
  color: $green;
  text-align: center;
}

h2,
h3 {
  text-align: center;
}

h2 {
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 20px;
}

.byline {
  font-size: 3vw;
  color: $white;
  margin-bottom: 1em;
}

.lead {
  margin-top: 20px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;

  &>.navbar-collapse {
    margin-right: 15px;
  }

  &>.navbar-header {
    margin-right: 0;
    margin-left: 0;
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* LINKS */

a {
  color: $green;
  box-shadow: 0 1px 0 0 $green;
}

a:hover {
  box-shadow: none;
  color: $mediumgray;
}

a,
a:hover,
a:visited,
a:active,
nav a,
nav a:hover,
nav a:visited,
nav a:active {
  text-decoration: none;
}

/* ALIGNMENT & BORDERS */

.section  {
  padding-top: 80px;
  min-height: 100vh; /* full screen height */
  padding-bottom: 1em;
}

/* give every row but the last one a bottom border for nice row divisions when scrolling */

.section:not(:last-child) {
  border-bottom: 1px solid #CCC;
}

.header {
  padding-top: 30vh; /* set in vh to scale with screen size */
  background:  url('../img/appleiie.jpg') no-repeat $medgreen;
  background-size: 100% auto;
  background-position: 50% 50%;
  color: $white;
  text-align: center;
}

.img-wrapper {
  max-width: 80%;
  margin: 0 auto;
}

#about,
.project-details {
  h2 {
    text-align: left;
    margin-bottom: 15px;
  }
}

/* give images same top margin as h2 (used for row headers) so row contents line up nicely */

img {
  margin-top: 20px;
}

/* CONTACT ICONS */

.contact-icons {
  text-align: center;

  a {
    border: 1px solid $lightgray;
    border-radius: 50%;
    color: $black;
    display: inline-block;
    height: 50px;
    position: relative;
    width: 50px;
    box-shadow: none;
    background: $white;
  }

  a:before {
    font: normal 24px/1 'Genericons';
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: 13px;
  }

  a:hover:before {
    color: $green;
  }

  .github:before {
    content: '\f200';
  }

  .linkedin:before {
    content: '\f208';
  }

  .twitter:before {
    content: '\f202';
  }

  .email:before {
    content: '\f410';
  }

  .blog:before {
    content: '\f413';
  }

  .resume:before {
    content: '\f443';
  }
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

/* NAVBAR */
/* adapted from http://bootsnipp.com/snippets/featured/navbar-fixed-on-scrolling-with-transition */

.navbar-right {
  float: right!important;

  li {
    padding: 15px;
    display: block;
    text-align: right;
    line-height: 20px;
  }
}

.navbar-brand {

  height: 30px;
  padding: 15px;
  line-height: 20px;

  .tiny {
    display: none;
    color: $green;
  }

  .name {
    display: none;
  }

  .tag {
    display: none;
  }
}

@media (min-width: 375px) {
  .navbar-brand {
    .tiny {
      display: none;
    }
    .name {
      display: none;
    }
  }
}

@media (min-width: 860px) {
  .navbar-brand {
    .tag {
      display: none;
    }
  }
}

.navbar-container {
    color: $white;
}

.nav>li>a,
.nav>li>a:focus,
.nav>li>a:hover,
.nav>li>a:active,
.nav>li>a:visited {
  background: none;
  padding: 0;
}

.nav>li>a {
  color: $white;
  box-shadow: none;

  &:hover {
    color: $white;
    box-shadow: 0 1px 0 0 $white;
  }
}

.navbar-header a#brand {
    color: $green;
    font-weight: 300;
    box-shadow: none;

    .name {
      text-transform: uppercase;
    }
  }

.navbar-toggle .icon-bar {
  background-color: $white;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: $white;
    border-bottom: 1px solid $verylightgray;
    color: $green;

    li.active a {
        color: $green;
        box-shadow: 0 1px 0 0 $green;
    }

    li {
      a {
        color: $verydarkgray;

        &:hover {
          color: $green;
          box-shadow: 0 1px 0 0 $green;
        }

        &#brand {
          box-shadow: none;
        }
      }
    }

    .navbar-toggle .icon-bar {
      background-color: $verydarkgray;
    }

}

.navbar {
  background: $medgreen;
  font-weight: bold;
}

.navbar-brand.fixed-theme {
  a#brand {
    color: $verydarkgray;

    .name {
      color: $green;
    }
  }

  .tiny {
    display: inline;
    color: $green;
  }

  .name {
    display: none;
  }

  .tag {
    display: none;
  }
}

@media (min-width: 375px) {
  .navbar-brand.fixed-theme {
    .tiny {
      display: none;
    }
    .name {
      display: inline;
    }
  }
}

@media (min-width: 860px) {
  .navbar-brand.fixed-theme {
    .tag {
      display: inline;
    }
  }
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

@media (min-width: 768px) {
  .navbar li {
    display: inline-block;
    text-align: left;
  }
}

// SKILLS

.skill {
  text-align: center;

  i {
    font-size: 50px;
  }
} 

// PORTFOLIO

.project {
  max-width: 90%;
  position: relative;
  margin: 0 auto 2em;
  text-align: center;

  .description {
    text-align: center;
    display: block;
  }

  img {
    opacity: 0.7;
    margin: 0 auto 0.5em;

    &:hover {
      opacity: 1.0;
      transition: 0.5s;
    -webkit-transition:  0.5s;
    }
  }
}



.project a {
  cursor: pointer;
}