$fontfamily: 'Open Sans', sans-serif;
$fontweight: 300;

$green: #008234;
$white: #fff;
$black: #000;
$lightgray: #d1d1d1;


/* TYPOGRAPHY */

body {
  font-family: $fontfamily;
  font-weight: $fontweight;
}

p {
  font-size: 1.125em;
}

h1 {
  font-size: 5vw;
  text-transform: uppercase;
}

p.links {
  font-size: 18px;
  color: #777;
  font-family: $fontfamily;
}

.byline {
  font-size: 2vw;
  color: $black;
  margin-bottom: 1em;
}

/* LINKS */

a {
  color: #8C9174;
}

a:hover {
  color: #3E222B;
}

nav a {
  color: #8C7D82;
}

nav a:hover {
  color: #CEC8CA;
}

/* ALIGNMENT & BORDERS */

.row  {
  padding-top: 50px;
  min-height: 100vh; /* full screen height */
  padding-bottom: 1em;
}

/* give every row but the last one a bottom border for nice row divisions when scrolling */

.row:not(:last-child) {
  border-bottom: 1px solid #CCC;
}

.header {
  padding-top: 30vh; /* set in vh to scale with screen size */
  background: $green;
  color: $white;
  text-align: center;

}

.navbar-right {
  float: right!important;
}

/* give images same top margin as h2 (used for row headers) so row contents line up nicely */

img {
  margin-top: 20px;
}

/* CONTACT ICONS */

.contact-icons {
  text-align: center;

  a {
    border: 1px solid $lightgray;
    border-radius: 50%;
    color: $black;
    display: inline-block;
    height: 50px;
    position: relative;
    width: 50px;
    box-shadow: none;
    background: $white;
  }

  a:before {
    font: normal 24px/1 'Genericons';
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: 13px;
  }

  a:hover:before {
    color: $green;
  }

  .github:before {
    content: '\f200';
  }

  .linkedin:before {
    content: '\f208';
  }

  .twitter:before {
    content: '\f202';
  }

  .email:before {
    content: '\f410';
  }
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}