/* TYPOGRAPHY */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

p {
  font-size: 1.125em; }

h1 {
  font-size: 5vw;
  text-transform: uppercase; }

p.links {
  font-size: 18px;
  color: #777;
  font-family: "Open Sans", sans-serif; }

.byline {
  font-size: 2vw;
  color: #000;
  margin-bottom: 1em; }

/* LINKS */
a {
  color: #8C9174; }

a:hover {
  color: #3E222B; }

nav a {
  color: #fff; }

nav a:hover {
  color: #fff; }

/* ALIGNMENT & BORDERS */
.row {
  padding-top: 70px;
  min-height: 100vh;
  /* full screen height */
  padding-bottom: 1em; }

/* give every row but the last one a bottom border for nice row divisions when scrolling */
.row:not(:last-child) {
  border-bottom: 1px solid #CCC; }

.header {
  padding-top: 30vh;
  /* set in vh to scale with screen size */
  background: #008234;
  color: #fff;
  text-align: center; }

.navbar-right {
  float: right !important; }

/* give images same top margin as h2 (used for row headers) so row contents line up nicely */
img {
  margin-top: 20px; }

/* CONTACT ICONS */
.contact-icons {
  text-align: center; }
  .contact-icons a {
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    color: #000;
    display: inline-block;
    height: 50px;
    position: relative;
    width: 50px;
    box-shadow: none;
    background: #fff; }
  .contact-icons a:before {
    font: normal 24px/1 'Genericons';
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: 13px; }
  .contact-icons a:hover:before {
    color: #008234; }
  .contact-icons .github:before {
    content: '\f200'; }
  .contact-icons .linkedin:before {
    content: '\f208'; }
  .contact-icons .twitter:before {
    content: '\f202'; }
  .contact-icons .email:before {
    content: '\f410'; }
  .contact-icons .blog:before {
    content: '\f413'; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

/* NAVBAR */
/* adapted from http://bootsnipp.com/snippets/featured/navbar-fixed-on-scrolling-with-transition */
.navbar {
  font-size: 16px;
  font-weight: bold;
  min-height: 30px;
  line-height: 1; }

.navbar-container {
  padding-top: 7px;
  color: #fff; }

.navbar-header a#brand {
  color: #fff; }

.navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-right li {
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  display: block;
  text-align: right; }

.navbar.navbar-fixed-top.fixed-theme {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  color: #1a1a1a; }
  .navbar.navbar-fixed-top.fixed-theme a {
    color: #1a1a1a; }
    .navbar.navbar-fixed-top.fixed-theme a:hover {
      color: #008234; }
  .navbar.navbar-fixed-top.fixed-theme .navbar-toggle .icon-bar {
    background-color: #1a1a1a; }

.navbar {
  background: #008234; }

.navbar-container.fixed-theme {
  /* padding: 20px 0;*/ }
  .navbar-container.fixed-theme a#brand {
    color: #1a1a1a; }

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container {
  transition: 0.8s;
  -webkit-transition: 0.8s; }

@media (min-width: 768px) {
  .navbar li {
    display: inline-block;
    text-align: left; } }

/*# sourceMappingURL=rhj.css.map */
