$fontfamily: 'Open Sans', sans-serif;
$fontweight: 300;
$font-size: 16px;

$green: #008234;
$medgreen: #1f8f4a;
$white: #fff;
$black: #000;
$verylightgray: #eee;
$lightgray: #d1d1d1;
$mediumgray: #686868;
$gray: #ccc;
$verydarkgray: #1a1a1a;
$transparentgreen: rgba(0,130,52,0.7);
$transparentgray: rgba(80, 80, 80, 0.9);